.alert-danger {
  display: none;
  justify-content: space-between;
  padding: 12px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  border-radius: 3px;
}

.display-alert {
  display: flex;
}

.error-msg {
  width: 93%;
  text-align: center;
}

.closebtn {
  width: 7%;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.error--banner {}
